In [25]:
import pandas
import pandas_gbq

# TODO: Set project_id to your Google Cloud Platform project ID.
project_id = "plucky-courier-292500"

sql = """
SELECT latitude, longitude, year, month, day, air_temperature, sea_surface_temp
FROM `bigquery-public-data.noaa_icoads.icoads_core_2016`
WHERE latitude >=15.623
AND latitude <=47.279
AND longitude >=-98.965
AND longitude <=-59.063
"""

df = pandas_gbq.read_gbq(sql, project_id=project_id)

Downloading: 100%|█████████████████████████████████████████████████████| 24084762/24084762 [54:58<00:00, 7302.27rows/s]

In [27]:
df2016=df
df2016.head()

   latitude  longitude  year  month  day  air_temperature  sea_surface_temp
0     42.77     -86.21  2017      8    1              NaN               NaN
1     30.35     -81.61  2017      3    1              NaN              21.6
2     41.64     -87.14  2017      7    1              NaN               NaN
3     41.61     -71.30  2017      8    1             22.8               NaN
4     41.31     -72.08  2017      6    1             13.8               NaN

In [28]:
compression_opts = dict(method='zip',
                        archive_name='df2016.csv')  
df.to_csv('df2016.zip', index=False,
          compression=compression_opts)

In [26]:
import pandas
import pandas_gbq

# TODO: Set project_id to your Google Cloud Platform project ID.
project_id = "plucky-courier-292500"

sql = """
SELECT latitude, longitude, year, month, day, air_temperature, sea_surface_temp
FROM `bigquery-public-data.noaa_icoads.icoads_core_2017`
WHERE latitude >=15.623
AND latitude <=47.279
AND longitude >=-98.965
AND longitude <=-59.063
"""

df = pandas_gbq.read_gbq(sql, project_id=project_id)

Downloading: 100%|█████████████████████████████████████████████████████| 16947458/16947458 [32:36<00:00, 8660.95rows/s]

In [29]:
df2017=df
df2017.head()

   latitude  longitude  year  month  day  air_temperature  sea_surface_temp
0     42.77     -86.21  2017      8    1              NaN               NaN
1     30.35     -81.61  2017      3    1              NaN              21.6
2     41.64     -87.14  2017      7    1              NaN               NaN
3     41.61     -71.30  2017      8    1             22.8               NaN
4     41.31     -72.08  2017      6    1             13.8               NaN

In [30]:
compression_opts = dict(method='zip',
                        archive_name='df2017.csv')  
df.to_csv('df2017.zip', index=False,
          compression=compression_opts)

In [ ]:
# PULL IN DEPENDENCIES AND MAKE CONNECTION
import sqlite3

conn = sqlite3.connect('?????.db')

from datetime import datetime

from flask import Flask

from flask_sqlalchemy import SQLAlchemy

In [ ]:
# CREATE TABLE IF NEEDED

conn.execute("""CREATE TABLE IF NOT EXISTS air_sea_temps (
                latitude FLOAT,
                longitude FLOAT,
                year INTEGER,
                month INTEGER,
                day INTEGER,
                air_temperature FLOAT,    
                sea_surface_temp FLOAT     
                )""")

# # ADD VALUES IF NEEDED
# values = ('Deep Learning', 
#           'Ian Goodfellow et al.', 
#           775, 
#           datetime(2016, 11, 18).timestamp())

# #EXECUTE COMMAND
# conn.execute("""INSERT INTO books VALUES (?, ?, ?, ?)""", values)

#QUERY
r = conn.execute("""SELECT * FROM ?????""")
r.fetchall()